html {
  height: 100%;
}
body{
	background: fixed linear-gradient(#191124,#90303d,crimson 200%);
	margin: 0;
	position: relative;
	font-family: Arial, sans-serif;
	color: white;
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 5em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #191124;
	width: 100%;
	padding-top:50px;
	border-top: dashed 2px crimson;
	height: 50px;
}

.boite{
	overflow: auto;
	margin-left: auto;
    margin-right: auto;
	position:relative;
	background-color: #90303d;
	width:60%;
	height:60%;
	padding: 30px;
	margin-bottom: 50px;
	margin-top: 20px;
	border-right: solid 2px crimson;
	border-left: solid 2px crimson;
	border-radius: 4px;
}


h1{
	padding: 50px;
	margin-left: auto;
	letter-spacing: 10px;
    margin-right: auto;
}

.titre{
	margin-left: auto;
    margin-right: auto;
	font-family: 'Lobster';
	border-bottom: solid 2px crimson;
}

h2{
	padding: 50px;
	margin-left: auto;
	letter-spacing: 1px;
    margin-right: auto;
}

.navMain{
	overflow: hidden;
	font-size: 14px;
	margin-left:auto;
	margin-right:auto;
	background: #191124;
	width: 100%;
	padding: 10px;
	border-bottom: dashed 1px crimson;
	border-top: solid 2px #ab414f;

}
.navMain a {
  left:30%;
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: #ab414f;
  text-decoration: none;
}

.navMain a:hover {
  color: #ab414f;
}

.avatar{
	position: absolute;
	top: 10em;
	right: 2em;
	width: 100px;
	height: 100px;
	border-right: solid 2px crimson;
	border-bottom: solid 2px crimson;
	border-top: solid 2px #ab414f;
	border-left: solid 2px #ab414f;
	border-radius: 4px;
}

.icon{
	width: 50px;
	height: 50px;
	border-right: solid 2px crimson;
	border-bottom: solid 2px crimson;
	border-top: solid 2px #ab414f;
	border-left: solid 2px #ab414f;
	border-radius: 4px;
}

table{
	background-color: #90303d;
	width:60%;
	height:60%;
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	border-right: solid 2px crimson;
	border-left: solid 2px crimson;
	border-radius: 4px;	
}

td{
	background-color: #ab414f;
	width: 40%;
	padding: 10px;
	border-right: solid 2px crimson;
	border-left: solid 2px crimson;
	border-radius: 2px;
}

